docs/
.env
.cursorrules
.venv
ideas/*
projects/*
some_project/*
improvments.txt
extended_functionality
generated_project/*
.pycache/*
__pycache__/*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
frontend/node_modules/*